body {
  background-color: $main-bg-color;
  color: $main-text-color;
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
body.modal-open {
  overflow: hidden;
}
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: $accent-color;
}
/* Забрали маркери в списках */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Забрали відступи в заголовках */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $third-bp) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
a {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
