.menu-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.menu-card__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 30px) / 1);
  // max-width: 450px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.menu-card__link {
  text-decoration: none;
  color: $main-text-color;
  display: inline-block;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.product {
  position: relative;
  overflow: hidden;
}
.product__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: $main-bg-color;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

  .menu-card__link:hover &,
  .menu-card__link:focus & {
    transform: translateY(0);
  }
}
.product__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $secondary-text-color;
}
.product__type {
  font-size: 16px;
  line-height: 1.89;
}
.product__description {
  background-color: $main-bg-color;
  border: 1px solid #eeeeee;
  padding: 20px 0px 20px 24px;
}
